
body{
	background-color: #34495e
}


#sidebar{
	margin-left: 10px;
}
.btn-group .button{
  background-color: #34495e ;
  color: white;
  border:5;
  border-radius: 5px;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  cursor: pointer;
  float:left;
  transition-duration: 0.7s;
	
}

.btn-group .button:hover {
	background-color:#dfe4ea;
	color: #57606f;
}

div{
	color:#ecf0f1
}
.p{
	color:red;
}

#button3{
	bottom:50%;
}

